<h2>{{title}}</h2>
<button (click)="changeTitle()">Changer le titre</button>
<section>
  <article>
    <h2>Super article</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi assumenda, commodi culpa distinctio doloremque dolorum, ea, est eveniet expedita impedit ipsam magni maxime modi nemo omnis quam quas repellendus vero.</p>
  </article>
  <article>
    <h2>Super article</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi assumenda, commodi culpa distinctio doloremque dolorum, ea, est eveniet expedita impedit ipsam magni maxime modi nemo omnis quam quas repellendus vero.</p>
  </article>
  <article>
    <h2>Super article</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi assumenda, commodi culpa distinctio doloremque dolorum, ea, est eveniet expedita impedit ipsam magni maxime modi nemo omnis quam quas repellendus vero.</p>
  </article>

</section>
